.categoriesPopup {
  position: absolute;
  inset: 0;
  padding: 12px 14px 32px;
  background: var(--system-gray-6);
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;

  &.visible {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
}

.categoryName {
  font-size: 32px;
  font-weight: 600;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 20px;
}

.categoryExercises {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 56px;
}

.exercise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 600;

  &:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 20px;
  }
}

.categoriesPopupButtons {
  display: flex;
  align-items: stretch;
  column-gap: 8px;
  justify-content: space-between;
  margin-top: auto;

  button {
    position: relative;
    inset: unset;
  }
}

.selectButton {
  padding: 12px 24px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 18px;
  background: var(--system-dark-gray-5);
  color: var(--system-gray-6);
  width: 100%;
}

.changeButton {
  padding: 12px 24px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 18px;
  background: var(--system-gray-5);
  width: 100%;
}
