.categoriesList {
  margin: 32px 0;
  overflow-y: scroll;
  height: 100%;
  max-height: calc(100dvh - 270px);
}

.category {
  display: flex;
  align-items: center;
  column-gap: 14px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.categoryContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.categoryName {
  color: var(--system-dark-gray-6);
  font-size: 20px;
  font-weight: 600;
}

.categoryCount {
  color: var(--system-gray-4);
  font-size: 18px;
  font-weight: 600;
}

.arrow {
  transform: rotate(-90deg);
}

.categoryImage {
  width: 50px;
}
