.categoriesList {
  padding: 32px 0;
}

.category {
  display: flex;
  align-items: center;
  column-gap: 14px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.categoryContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.categoryName {
  color: #292C33;
  font-size: 20px;
  font-weight: 600;
}

.categoryCount {
  color: #e6e6e6;
  font-size: 18px;
  font-weight: 600;
}

.arrow {
  transform: rotate(-90deg);
}

.categoryImage {
  width: 50px;
}
