.createExercisesList {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  inset: 0;
  padding: 12px 14px 32px;
  background: var(--system-gray-6);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;

  &.visible {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
}

.title {
  font-size: 22px;
  margin-bottom: 32px;
  font-weight: 600;
}

.subtitle {
  font-size: 28px;
  font-weight: 600;
}
