.exercisesItem {
}

.exercisesItemTop {
  align-items: center;
  display: flex;
  column-gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.exercisesItemTopContent {
  align-items: center;
  display: flex;
  column-gap: 12px;
  width: 100%;
}

.content {
  overflow: hidden;
  transition-duration: .2s;
}

.nameWrapper {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}

.exercisesItemName {
  font-weight: 700;
  font-size: 18px;
}

.icon {
  min-width: 40px;
}

.arrowIconActive {
  transform: rotate(180deg);
}

