.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  background: var(--system-dark-gray-5);
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
  padding: 14px 18px;
  margin-top: 24px;

  span {
    color: var(--system-gray-6);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
}
