.exercisesSet {
  display: flex;
  align-content: center;
  margin-bottom: 8px;
  column-gap: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.exercisesSetLabel {
  display: block;
  color: var(--system-gray-4);;
  font-size: 16px;
  font-weight: 600;
  padding-left: 6px;
  padding-right: 6px;
  min-width: 40px;
  text-align: center;
  line-height: 2.5;
}

.exercisesSetFields {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: 100%;

  div {
    width: 100%;
    background: var(--system-gray-5);;
    border-radius: 8px;
    height: 40px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
  }
}

.emptyField {
  width: 100%;
  background: var(--system-gray-5);;
  border-radius: 8px;
  height: 40px;
  padding-right: 14px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.7;
}
