.input {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-radius: 12px;
  background: var(--system-gray-5);
  height: 50px;
  overflow: hidden;
  margin-bottom: 12px;

  &__native {
    height: 100%;
    width: 100%;
    background: var(--system-gray-5);
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    transition: background .3s linear;
    padding: 12px 24px;

    &:focus {
      background: var(--system-gray-4);
      transition: background .3s linear;
    }
  }

  &__error {
  }
}
