.profile {
  height: 100%;

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;

    .profileTitle {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .profileForm {
      padding: 15px;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .profileButtons {
      margin-top: auto;
    }
  }
}
