.backButton {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: var(--system-gray-4);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;

  img {
    transform: rotate(90deg);
  }
}
