.MuiPickersCalendarHeader-root {
  justify-content: flex-end;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.MuiPickersCalendarHeader-label {
  text-transform: capitalize;
}

.MuiDayCalendar-root {
  height: 235px !important;
  overflow: hidden;
}

.MuiDayCalendar-header, .MuiDayCalendar-weekContainer {
  justify-content: space-between;

  .busyDay {
    position: relative;

    &::after {
      content: '';
      background-size: contain;
      background: var(--system-gray-6) url('/ui/gym.svg') no-repeat center;
      position: absolute;
      top: -2px;
      right: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
}

.MuiTypography-root {
  color: var(--system-dark-gray-5);
  font-size: 14px;
}

.MuiPickersDay-root {
  color: var(--system-dark-gray-5);
  font-weight: 600;
  font-size: 15px;

  &.Mui-selected {
    background: var(--system-dark-gray-5) !important;
  }

  &.MuiPickersDay-today {
    border: none;
    background-color: var(--system-gray-2);
    color: var(--system-gray-6);
  }
}

.MuiPickersSlideTransition-root {
  min-height: unset;
  height: fit-content;
}

.MuiDayCalendar-monthContainer {
  position: relative;
}

.recharts-responsive-container {
  min-height: 400px;

  .recharts-wrapper {
    width: 100% !important;
  }

  .recharts-cartesian-axis-ticks {
    display: none;
  }
}
