@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variables.scss';

body {
  padding: 0;
  margin: 0;
  background: var(--system-gray-6);
  color: var(--system-dark-gray-6);
  overscroll-behavior-y: contain;
  touch-action: pan-y;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
