:root {
  // SYSTEM COLORS
  --red: rgb(255, 59, 48);
  --orange: rgb(255, 149, 0);
  --yellow: rgb(255, 204, 0);
  --green: rgb(52, 199, 89);
  --mint: rgb(0, 199, 190);
  --teal: rgb(48, 176, 199);
  --cyan: rgb(50, 173, 230);
  --blue: rgb(0, 122, 255);
  --indigo: rgb(88, 86, 214);
  --purple: rgb(175, 82, 222);
  --pink: rgb(255, 45, 85);
  --browmn: rgb(162, 132, 94);

  // GRAY COLORS
  --system-gray: rgb(142, 142, 147);
  --system-gray-2: rgb(174, 174, 178);
  --system-gray-3: rgb(199, 199, 204);
  --system-gray-4: rgb(209, 209, 214);
  --system-gray-5: rgb(229, 229, 234);
  --system-gray-6: rgb(242, 242, 247);

  // GRAY DARK COLORS
  --system-dark-gray: rgb(142, 142, 147);
  --system-dark-gray-2: rgb(99, 99, 102);
  --system-dark-gray-3: rgb(72, 72, 74);
  --system-dark-gray-4: rgb(58, 58, 60);
  --system-dark-gray-5: rgb(44, 44, 46);
  --system-dark-gray-6: rgb(28, 28, 30);
}
