.page {
  position: relative;
  height: 100dvh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--system-gray-6);
}

.loading {
  width: 100vw;
  height: 100dvh;
  display: grid;
  place-items: center;
}
