.page {
  position: relative;
  height: 100dvh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  background: var(--system-gray-6);
}

.loading {
  width: 100vw;
  height: 100dvh;
  display: grid;
  place-items: center;
}

.statButton {
  color: var(--system-dark-gray-6);
  margin-top: 12px;
  font-weight: 600;
  font-size: 18px;
  padding: 12px;
  width: 100%;
  text-align: center;
}
