.actionExercisePopup {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  max-height: 100vh;
  inset: 0;
  padding: 12px 12px 32px;
  background: var(--system-gray-6);
  z-index: 5;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;

  &.visible {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
}

.actionExercisePopupWrapper {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(100% - 51px);
}

.actionExercisePopupName {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.actionExercisePopupInput {
  margin-bottom: 42px;

  input {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid var(--system-gray);
    border-bottom: 1px solid var(--system-gray);
    transition: border-color .2s linear;
    border-radius: unset;

    &:focus {
      border-color: var(--system-dark-gray-5);
      transition: border-color .2s linear;
    }
  }
}

.createExerciseName {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.actionExercisePopupSelect {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--system-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-weight: 600;
    font-size: 20px;
  }
}

.tooltip {
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--system-dark-gray);
  justify-content: center;
  align-items: center;
  color: var(--system-gray-6) !important;
  font-size: 14px !important;
}

.actionExercisePopupCheckbox {
  input {
    position: relative;
    appearance: none;
    width: 50px;
    height: 30px;
    background: var(--system-dark-gray);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;

    &:checked[type="checkbox"] {
      background: var(--green);

      &::after {
        left: 50%;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      top: 50%;
      left: 0;
      background: var(--system-gray-6);
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      transform: translateY(-50%);
      transition: 0.4s;
    }
  }
}

.actionExercisePopupButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  column-gap: 32px;

  button {
    position: relative !important;
    inset: unset;
  }
}

.saveButton {
  width: 100%;
  border-radius: 16px;
  font-weight: 600;
  font-size: 18px;
  padding: 12px;
  background: var(--system-dark-gray-5);
  color: var(--system-gray-6);
}

.removeButton {
  color: var(--red);
  margin-top: 12px;
  font-weight: 600;
  font-size: 18px;
  padding: 12px;
  width: 100%;
  text-align: center;
}
