.backActionButton {
  display: grid;
  place-items: center;
  position: absolute;
  left: 14px;
  bottom: 32px;
  width: 60px;
  min-width: 60px;
  height: 60px;
  background: var(--system-dark-gray);
  border-radius: 50%;

  &.dark {
    background: var(--system-dark-gray-5);
  }

  img {
    width: 40px;
    height: 40px;
  }
}
