.actionSetsPopup {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  inset: 0;
  padding: 12px 14px 32px;
  background: var(--system-gray-6);
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;

  &.visible {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
}

.actionSetsPopupButtons {
  display: flex;
  align-items: stretch;
  column-gap: 8px;
  justify-content: space-between;
  margin-top: auto;

  button {
    background: var(--system-dark-gray-5);
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--system-gray-6);
    font-weight: 700;
    width: 100%;
    padding: 14px 18px;
  }
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
}

.addSets {
  background: var(--system-gray-5);
  border-radius: 10px;
  border: none;
  outline: none;
  color: var(--system-dark-gray-6);
  font-weight: 700;
  width: 100%;
  padding: 14px 18px;
  margin-top: 12px;
}
