.menuPopup {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(110%);
  transition: transform .3s ease;
  background: #ffffff;
  padding: 32px 14px 32px;

  &::after {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    width: 40px;
    height: 1px;
    border-radius: 8px;
    background: #e6e6e6;
  }
}

.menuActive {
  transform: translateY(0);
  transition: transform .3s ease;
}
