.menuPopup {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(110%);
  transition: transform .3s ease;
  background: #ffffff;
  padding: 32px 14px 32px;
}

.menuActive {
  transform: translateY(0);
  transition: transform .3s ease;
}

.menuPopupInputWrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-radius: 12px;
  background: #e6e6e6;
  height: 50px;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;

  input {
    height: 100%;
    width: 100%;
    background: #e6e6e6;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
  }

  button {
    outline: none;
    border: none;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
