.searchInputInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-radius: 12px;
  background: var(--system-gray-5);
  height: 50px;
  overflow: hidden;
  margin-bottom: 12px;

  input {
    height: 100%;
    width: 100%;
    background: var(--system-gray-5);
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    transition: background .3s linear;
    padding-left: 46px;
    padding-right: 12px;

    &:focus {
      background: var(--system-gray-4);
      transition: background .3s linear;
    }
  }

  .iconSearch {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  input:focus ~ label {
    background: red;
  }

  button {
    outline: none;
    border: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);

    img {
      width: 20px;
      height: 20px;
    }
  }
}
