.statisticsExercisesPopup {
  position: absolute;
  inset: 0;
  padding: 12px 14px 32px;
  background: var(--system-gray-6);
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;

  &.visible {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
}

.categoryExercises {
  padding-left: 12px;
  padding-right: 12px;
}

.exercise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 600;

  &:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 20px;
  }
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.graphWrapper {
  margin-top: 30px;
}

.label {
  font-weight: 600;
  font-size: 22px;
  margin-top: 30px;
}
