.registration {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 15px;

  &__inner {
    width: 100%;
    max-width: 300px;

    .registrationTop {
      .registrationTitle {
        text-align: center;
        color: var(--system-dark-gray-5);
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 24px;
      }
    }

    .registrationBottom {
      .registrationLink {
        text-align: center;
        margin: 12px auto 0;
        font-weight: 500;
        font-size: 16px;
        text-decoration: underline;
      }
    }
  }
}
